# This file lists the Python packages required for the project. 

# pip install -r requirements.txt

# python.exe -m pip install --upgrade pip
jupyterlab
numpy 
scipy 
pandas 
matplotlib 
seaborn 
scikit-learn 
ipykernel
pyautogui